<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Christopher Woodall - PLL Value Finder For Freescale K64</title>
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://cwoodall.com/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cwoodall.com/assets/css/bootstrap-responsive.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://cwoodall.com/assets/css/main.css">
  <script src="http://cwoodall.com/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="http://cwoodall.com/">Christopher Woodall</a>
        <div class="nav-collapse collapse">
          <ul class="nav" id="navbar">

            <li><a href="http://cwoodall.com/now">Now</a></li>
            <li><a href="http://cwoodall.com/portfolio">Portfolio</a></li>
            <li><a href="http://cwoodall.com/reading">Reading</a></li>
            <li><a href="http://cwoodall.com/music">Music</a></li>
            <li><a href="http://cwoodall.com/blog">Blog</a></li>
            <li><a href="http://happyrobotlabs.com">Project Blog</a></li>
            <li><a href="http://cwoodall.com/assets/resume/cjwoodall_resume.pdf">Resume</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!-- Container -->
  <div class="container top-padding">
    <a class="github-fork-ribbon" href="https://github.com/cwoodall/z3-freescale-k64-pll-finder" title="Fork me on GitHub">Fork me on GitHub</a>
    <div class="row-fluid">
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h2>Freescale K64 PLL Calculator</h2>
        <p>
          This is a calculator for the PLL configuration values for VDIV, and PDIV
          for the Freescale K64 processor. You put in your input frequency and Desired
          output frequency and it returns the value of PDIV and VDIV. These values
          are the numbers which are used in the equation:

          $$f_{out} = VDIV * \frac{f_{in}}{PDIV}$$

          where:

          $$
          2MHz \leq \frac{f_{in}}{PDIV} \leq 4 MHz
          $$

          There are also constraints on VDIV and PDIV in terms of min and max
          ranges.

          To get the actual register values of PDIV and VDIV you can look up the
          values in the <a href="http://cache.nxp.com/files/microcontrollers/doc/ref_manual/K64P144M120SF5RM.pdf">datasheet</a>
          on pages 589 and 590.
        </p>

        <h3>How does it work?</h3>

        <p>
          A simple calculator could have been used, but instead I decided to learn
          a little about using <a href="https://z3.codeplex.com/">z3</a> which is a
          high performance theorem prover. I make calls into z3 from python and provide
          an api for accessing these. The api entry point is at <code>/solve</code>

          To get the solution you can do the following:

          <pre>
/solve?fin=20e6&fout=80e6
          </pre>

          Which will return:

<pre>
{
  "payload": {
    "d": "8",
    "f_in": "20000000",
    "f_out": "80000000",
    "m": "32"
  },
  "status": "success"
}
</pre>

          If the model can not converge and cannot find a solution given the
          constraints you will get the following result:

<pre>
{
  "payload": {
    "error": "model is not available"
  },
  "status": "error"
}
</pre>

        For more information please see the <a href="#">writeup</a>
        </p>
      </div>
      <div class="span6">
      <form id="target">
        <div class="form-group">
          <label class="sr-only" for="f_in">Frequency In (Hz):</label>
          <div class="input-group">
            <input type="text" class="form-control" name="f_in" placeholder="Input Frequency">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="f_out">Frequency Out (Hz):</label>
          <div class="input-group">
            <input type="text" class="form-control" name="f_out" placeholder="Output Frequency">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="d">PRDIV Value:</label>
          <div class="input-group">
            <input type="text" class="form-control" name="d" placeholder="?" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="m">VDIV Value:</label>
          <div class="input-group">
            <input type="text" class="form-control" name="m" id="m" placeholder="?" readonly>
          </div>
        </div>
       <button type="submit" class="btn btn-primary">Solve</button>
      </form>
    </div>
  </div>
  </div>


  <script>
  $( "#target" ).submit(function( event ) {
    event.preventDefault();
    var values = {};
    $.each($('#target').serializeArray(), function(i, field) {
        values[field.name] = field.value;
    });

    $.get("solve", {fin: values["f_in"], fout: values["f_out"]}).done(
      function (data) {
        if (data["status"] == "success") {
          $("#target input[name=d]").val(data["payload"]["d"])
          $("#target input[name=m]").val(data["payload"]["m"])
        } else {
          alert("error: " + data.payload.error)
        }
      }
    )
  });
  </script>
</body>
